//base spacing options

//tight
[data-objectspacing="tight"],
.spacing-tight {
    padding: 1rem;
}
[data-metaspacing="tight"]{
    > div.mura-object-meta-wrapper{
        > div.mura-object-meta{
            padding: 1rem;
        }
    }
}
[data-contentspacing="tight"]{
    > div.mura-object-content{
        padding: 1rem;
    }
}
//normal
[data-objectspacing="normal"],
.spacing-normal {
    padding: 2rem 1rem;
    @include media-breakpoint-up(md){
        padding: 2rem;
    }
    @include media-breakpoint-up(lg){
        padding: 2.5rem;
    }
}
[data-contentspacing="normal"]{
    > div.mura-object-content{
        padding: 2rem 1rem;
        @include media-breakpoint-up(md){
            padding: 2rem;
        }
        @include media-breakpoint-up(lg){
            padding: 2.5rem;
        }
    }
}
[data-metaspacing="normal"]{
    > div.mura-object-meta-wrapper{
        > div.mura-object-meta{
            padding: 2rem 1rem;
            @include media-breakpoint-up(md){
                padding: 2rem;
            }
            @include media-breakpoint-up(lg){
                padding: 2.5rem;
            }
        }
    }
}
//loose
[data-objectspacing="loose"],
.spacing-loose {
    padding: 3rem 1rem;
    @include media-breakpoint-up(md){
        padding: 3rem;
    }
    @include media-breakpoint-up(lg){
        padding: 5rem;
    }
}
[data-contentspacing="loose"]{
    > div.mura-object-content{
        padding: 3rem 1rem;
        @include media-breakpoint-up(md){
            padding: 3rem;
        }
        @include media-breakpoint-up(lg){
            padding: 5rem;
        }
    }
}
[data-metaspacing="loose"]{
    > div.mura-object-meta-wrapper{
        > div.mura-object-meta{
            padding: 3rem 1rem;
            @include media-breakpoint-up(md){
                padding: 3rem;
            }
            @include media-breakpoint-up(lg){
                padding: 5rem;
            }
        }
    }
}

//nested layout items
.mura-object .mura-object:not([data-objectname="Form"]){
    @include media-breakpoint-down(sm){
        padding-left:0;
        padding-right:0;
        padding-bottom:0;
        padding-top:0;
        & + .mura-object{
            padding-top:0.5rem;
        }
    }
}

//nested containers need vertical separation on mobile devices
div[data-object="container"]:not(.mura-objectclass){
    div[data-object="container"]{
        & + div[data-object="container"]{
            @include media-breakpoint-down(sm){
                margin-top:2rem;
            }
        }
    }
}

//image grid module theme
.module-image-grid{
    > .mura-object-content{
        display: flex !important;//force flex
        flex-flow: row wrap;
        width: 100%;
        [data-object="image"]{
            flex: auto !important;
            height: 250px !important;
            min-width: 150px !important;
            margin: .5rem !important; //gutter
            overflow:hidden;
            @extend .rounded-lg, .shadow;
            figure{
                height:250px;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    max-width: 100%;
                }
            }
        }
        [data-object="image"]:nth-child(4n+1) {
            width: 250px !important;
        }
        [data-object="image"]:nth-child(4n+2) {
            width: 325px !important;
        }
        [data-object="image"]:nth-child(4n+3) {
            width: 180px !important;
        }
        [data-object="image"]:nth-child(4n+4) {
            width: 380px !important;
        }
    }
}

.module-big-header{
    height:460px;
}